<a href="https://colab.research.google.com/github/meet3012/Personal-Projects/blob/main/HW2_Meet_Patel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# HW 2: Analyzing IMDb Data

---

For HW  two, you will complete a serious of exercises exploring movie rating data from IMDb.

For these exercises, you will be conducting basic exploratory data analysis on IMDB's movie data, looking to answer such questions as:

What is the average rating per genre?
How many different actors are in a movie?

This process will help you practice your data analysis skills while becoming comfortable with Pandas.

The csv data can be downloaded from https://drive.google.com/file/d/17mC_GnBnOlwrKcD7QZkehcxVdvAApH7v for your offline use purpose

## Part 1

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#1 Code to read csv file into colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
#2. Get the file
#make sure you upload all your data files to your Google drive and change share->Advanced->change->anyone with the link can view
downloaded = drive.CreateFile({'id':'12oQVUx8gGsdruEi4iJB-KFvxLt3znK-l'}) # replace the id with id of file you want to access
downloaded.GetContentFile('imdb_1000.csv')

In [ ]:
movies.isnull().sum()

star_rating       0
title             0
content_rating    3
genre             0
duration          0
actors_list       0
dtype: int64

In [ ]:
movies[movies.content_rating.isna()]

     star_rating  ...                                        actors_list
187          8.2  ...  [u'Paul Newman', u'Robert Redford', u'Katharin...
649          7.7  ...  [u'Richard Burton', u'Clint Eastwood', u'Mary ...
936          7.4  ...    [u'John Wayne', u'Kim Darby', u'Glen Campbell']

[3 rows x 6 columns]

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

#### Read in 'imdb_1000.csv' and store it in a DataFrame named movies.

In [ ]:
movies = pd.read_csv('imdb_1000.csv')
movies.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

#### Check the number of rows and columns.

In [ ]:
# Answer:
movies.shape

#### Check the data type of each column.

In [ ]:
# Answer:

#### Calculate the average movie duration.

In [ ]:
# Answer:

#### Sort the DataFrame by duration to find the shortest and longest movies.

In [ ]:
# Answer:

#### Create a histogram of duration, choosing an "appropriate" number of bins.

In [ ]:
# Answer:

#### Use a box plot to display that same data.

In [ ]:
# Answer:

## Part 2

#### Count how many movies have each of the content ratings.

In [ ]:
movies.sample(5)

     star_rating  ...                                        actors_list
955          7.4  ...  [u'Jessica Chastain', u'Joel Edgerton', u'Chri...
723          7.6  ...    [u'John Belushi', u'Karen Allen', u'Tom Hulce']
957          7.4  ...  [u'Chevy Chase', u"Beverly D'Angelo", u'Imogen...
792          7.6  ...   [u'John Cusack', u'Iben Hjejle', u'Todd Louiso']
562          7.8  ...  [u'Johnny Depp', u'Leonardo DiCaprio', u'Julie...

[5 rows x 6 columns]

In [ ]:
# Answer:

#### Use a visualization to display that same data, including a title and x and y labels.

In [ ]:
# Answer:

#### Convert the following content ratings to "UNRATED": NOT RATED, APPROVED, PASSED, GP.

In [ ]:
# Answer:
df[col3]=['UNRATED' if ((x =='NOT RATED')  | ()) else x for x in df['col3']]

#### Convert the following content ratings to "NC-17": X, TV-MA.

In [ ]:
# Answer:

#### Count the number of missing values in each column.

In [ ]:
# Answer:
movies.isnull().sum()

star_rating       0
title             0
content_rating    3
genre             0
duration          0
actors_list       0
dtype: int64

#### If there are missing values: examine them, then fill them in with "reasonable" values.

In [ ]:
# Answer:
movies.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

#### Calculate the average star rating for movies 2 hours or longer, and compare that with the average star rating for movies shorter than 2 hours.

In [ ]:
# Answer:

#### Use a visualization to detect whether there is a relationship between duration and star rating.

In [ ]:
# Answer:

#### Calculate the average duration for each genre.

In [ ]:
# Answer:
movies.groupby('genre').

## Part 3

#### Visualize the relationship between content rating and duration.

In [ ]:
# Answer:

#### Determine the top rated movie (by star rating) for each genre.

In [ ]:
# Answer:

#### Check if there are multiple movies with the same title, and if so, determine if they are actually duplicates.

In [ ]:
# Answer:
#hint: 
#dups = datframe[datframe[column1].duplicated(False)]

#### Calculate the average star rating for each genre, but only include genres with at least 10 movies (Use ONE of the options below)

In [ ]:
#movies.groupby('genre').star_rating.mean()

#### Option 1: manually create a list of relevant genres, then filter using that list (no value_counts should be used)

In [ ]:
# Answer:

#### Option 2: automatically create a list of relevant genres by saving the value_counts(must use) and then filtering

In [ ]:
# Answer:

#### Option 3: calculate the average star rating for all genres, then filter using a boolean Series

In [ ]:
# Answer:

#### Option 4: aggregate by count and mean, then filter using the count

In [ ]:
# Answer:

#### Figure out something "interesting" using the actors data!
*Explain what you intend to get out of this data and show the result with your code*